.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
  &__logo {
    padding: 1rem 0 0 1rem;
  }

  &__burger {
    background-image: url(../images/icon-menu.svg);
    padding: 2rem 0 0 2.5rem;
    background-repeat: no-repeat;
  }
  &__nav {
    //visibility: hidden;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
    &__open {
      position: fixed;
      background: $almostWhite;
      width: 50%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__close{
    padding: 0.7rem 0 0 8rem;
    }
    &__allmenu{
        padding-top: 3rem;
        @include fontEpilogue(1rem, 500, $mediumGray);
        width: 70%;
        padding-bottom: 1rem
    }
    &__btn{
        @include fontEpilogue(0.8rem, 500, $mediumGray);
        background-color: $almostWhite;
      width: 70%;
      text-align: center;
      border-radius: 11px;
      padding: 0.7rem;
      
    }
    &__btn--login{
        border: none;
    }
    &__btn:hover{
        background-color: $lila;
    }
  }
}


