.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  &__logo {
    padding: 1rem 0 0 1rem;
  }
  &__nav{
    #burger {
        width:1.875rem;
        height:0.125rem;
        background:rgb(0, 0, 0);
        display:inline-block;
        position:relative;
        top: -1.2rem;
        right: 1rem;
        z-index: 5;
      }
      #burger::before,
#burger::after {
  content:'';
  width:1.875rem;
  height:0.125rem;
  background:rgb(0, 0, 0);
  display:inline-block;
  position:absolute;
  transform-origin: center;
  transition: all 0.3s ease;
}
#burger::before {
  top:-0.4375rem;
}
#burger::after {
  top:7px;
}
#burger.open {
  background:transparent; 
}

#burger.open::before {
  transform: rotate(45deg); 
  top:0;
}
#burger.open::after {
  transform: rotate(-45deg);
  top:0;
}
&__allmenu{
  position: absolute;
  background: red;
  width: 10px;
  top: -2rem;
  transform:scaleY(0);
  transition:all 0.3s ease;
}
&__allmenu.open{
    transform:scaleY(1);
  }
}
}
