//Fonts
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
// font-family: 'Epilogue', sans-serif;

//variables
$mediumGray : hsl(0, 0%, 41%);
$almostWhite : hsl(0, 0%, 98%);
$almostBlack :hsl(0, 0%, 8%);
$blue: hsl(243, 79%, 68);
$yellow:hsl(50,73%,52%);
$lila:hsl(277,42%,51%);



//mixins
@mixin fontEpilogue ($size, $weight, $color) {
    font-family: 'Epilogue', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

//reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}